.Active-Menu{
    width: 100%;
    background-color: #f8f7f5;
    position: absolute;
    display: flex;
    gap:5px;
    flex-direction: column;
    bottom: -290px;    
    right: 0;
    z-index: 1;
    transform: scaleY(0);
    font-size: 25px;
    padding-left: 25px;
    transition: 300ms ease-in-out;
    transform-origin: top center
}
.Active-Menu a{
    text-decoration: none;
    color:unset;
}
.Active-Menu.open{
    transform: scaleY(1.1);
}
.Active-Menu button{
   height: 40px;
    font-size: 0.8em;
    align-self: center;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: #09a144;
    border: none;
    outline: none;
    color: white;
    font-family: 'Nunito', sans-serif;
}
.Active-Menu .Link-Button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    align-self: center;
}
.Active-Menu p{
    font-size: 0.65em;
    margin-left: 5%;
    width: 50%;
    color: black;
    font-family: 'Nunito',sans-serif;
}
.Hidden-Menu{
    display: none;
}
.Header-Container{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #02413e;
    position: relative;
}
.Phone-Menu{
    display: none;
}
.Header-Content{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.Header-Content .Header-Logo img{
    width: 200px;
    height: 90%;
}
.Header-Nav{
    width: calc(100% - 200px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Header-Nav a{
    text-decoration: none;
    color: unset;
}
.Header-Nav .Nav-Left{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 25px;
}
.Nav-Left li{
    font-size: 0.65em;
    font-family:Helvetica, sans-serif;
    color: white;
    transition: 500ms;
    cursor: pointer;
}
.Nav-Left li:hover{
    color: rgb(0, 209, 0);
}
.Nav-Right{
    font-size: 25px;
    display: flex;
    align-items: center;
}
.Nav-Right button{
    padding-left: 36px;
    padding-right: 36px;
    height:40px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #09a144;
    font-size: 0.7em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}